* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 100;
}
p {
  opacity: 0.7;
}

html {
  font-size: 62.52%;
}

header {
  background-color: rgb(54, 54, 54);
}

.container {
  margin: 0 9rem;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

.icons {
  width: 3.2rem;
  height: 3.2rem;
}

.btn {
  border: none;
  background: none;
  color: white;
}

/* section 1 */

.mainPage {
  margin: 5rem 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.main-para {
  font-size: 2.5rem;
  width: 50%;
  text-align: center;
}

.main-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.seconadary-btn,
.main-btn {
  color: white;
  border: none;
  background: none;
  padding: 1rem 2rem;
  border-radius: 8px;
}

.seconadary-btn {
  background-color: gray;
}

.main-btn {
  background-color: blue;
}

.sec-2 {
  padding: 2rem 0;
  background-color: rgb(243, 242, 242);
}

h1 {
  font-size: 4rem;
}

.flexBoxs-container {
  margin: 0 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.box {
  width: 40rem;
  height: 35rem;
  font-size: 2rem;
  background: white;
  border-radius: 7px;
}

.image {
  height: 65%;
  background-color: rgb(90, 90, 90);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 7px 7px 0 0;
}
.para-sect {
  padding: 1rem;
}

.para {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.boxBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boxBottom p {
  font-size: 15px;
}
.para-sect p {
  font-size: 18px;
}
.menuButton {
  display: flex;
  gap: 1rem;
}

.boxBottom > div {
  display: flex;
  font-size: 1rem;
}

.boxBottom button {
  background: none;
  border: none;
}
